* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-blue: rgb(5, 120, 255);
    --primary-black: rgb(32, 32, 32)
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background: radial-gradient(circle at center,
            rgb(227, 239, 253) 0%,
            rgb(235, 241, 250) 30%,
            rgb(240, 244, 250) 60%,
            rgb(245, 245, 245) 100%);
    min-height: 100vh;
    font-family: "Poppins";
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.navigation a {
    text-decoration: none;
    color: var(--primary-black);
}

.navigation a:last-child {
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 600;
}

.logo-and-name {
    display: flex;
    font-size: 34px;
    font-weight: 400;
    gap: 10px;
}

.header-text {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.right-side {
    display: none;
}

.description-text {
    font-weight: 400;
    font-style: normal;
}

H1 {
    font-weight: 700;
    font-size: 32px;
}

.form-header-text {
    font-weight: 400;
    font-size: 11px;
}

.right-side img {
    width: 640px;
    height: 704px;
}

.form-header {
    gap: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 24px;
}

.form-type-and-persons-counter {
    background-color: white;
    border-radius: 10px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
}

.inputs-header {
    font-weight: 600;
    font-style: normal;
}

.section-header {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
}

input[type="radio"] {
    accent-color: var(--background-blue);
    width: 18px;
    height: 24px;
    text-decoration-color: blue;
}

input[type="text"] {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    width: 90%;
    line-height: 150%;
    font-weight: 500;
}

.radio {
    display: flex;
    font-size: 14px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.people-counter {
    display: flex;
    font-size: 14px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs-group-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.inputs-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.inputs-group-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.inputs-group-4 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}

.form-departure {
    background-color: white;
    border-radius: 10px;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-arrival {
    background-color: white;
    border-radius: 10px;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-depart {
    background-color: white;
    border-radius: 10px;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-return {
    background-color: white;
    border-radius: 10px;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-button {
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
    background-color: var(--background-blue);
    color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
}

.achievement-indicators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: var(--background-blue);
    color: white;
}

.grid-item {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 10px;
}

.goal {
    font-size: 40px;
    font-weight: 700;
}

.goal-text {
    font-size: 16px;
    font-weight: 500;
}

.photos-section {
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.item-1 {
    grid-area: first;
}

.item-2 {
    grid-area: second;
}

.item-3 {
    grid-area: third;
}

.item-4 {
    grid-area: fourth;
}

.item-5 {
    grid-area: fifth;
}

.apps-section {
    background-color: rgb(255, 197, 1);
}

.apps-section-header {
    font-size: 32px;
    font-weight: 700;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.apps-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.FAQ-section {
    padding-top: 64px;
}

.FAQ-section-header {
    font-size: 64px;
    font-weight: 700;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.FAQs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 128px;
}

.FAQs div:last-child {
    border-bottom: none;
}

.FAQ-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(32, 32, 32);
}

.FAQ-element-text {
    font-size: 18px;
    font-weight: 500;
}

.FAQ-element-icon {
    font-size: 18px;
    font-weight: 500;
}

.contacts-section {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
    padding-top: 64px;
    color: var(--primary-black);
    width: 90%;
    transform: translateY(-30%);
}

.contacts-section-header {
    font-size: 36px;
    font-weight: 700;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border: 1px solid rgb(32, 32, 32);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.contacts-phone-and-email {
    padding-bottom: 10px;
    padding-top: 10px;
}

.contacts-address {
    padding-bottom: 10px;
    padding-top: 10px;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-blue);
    color: white;
}

.footer-wrapper {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo-with-text {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.footer-links-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-grid-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-grid-section-header {
    font-size: 20px;
    font-weight: 600;
}

.footer-grid-section-element {
    font-size: 16px;
    font-weight: 500;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    H1 {
        font-size: 64px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .header-text {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        width: 90%;
    }

    .section-header {
        font-size: 64px;
        font-weight: 700;
    }

    .description-text {
        font-size: 16px;
    }

    .form-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .achievement-indicators {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-color: var(--background-blue);
        color: white;
        padding-bottom: 64px;
        padding-top: 64px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .goal {
        font-size: 50px;
        font-weight: 700;
    }

    .goal-text {
        font-size: 20px;
        font-weight: 500;
    }

    .photos-section {
        width: 90%;
        margin: 0 auto;
    }

    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "first first"
            "second second"
            "third fourth"
            "fifth fifth";
        gap: 20px;
    }

    .photos img {
        width: 100%;
        height: 100%;
    }

    .apps-section {
        font-size: 40px;
        font-weight: 700;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .apps-logos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .apps-logos div:first-child {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .FAQ-section-header {
        width: 100%;
        text-align: left;
    }

    .FAQs {
        width: 100%;
        margin-bottom: 128px;
    }

    .contacts-section {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
    }

    .contacts-address {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .footer-links-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .footer-wrapper {
        width: 85%;
        margin: 0, auto;
    }

    .copyright {
        width: 85%;
        padding-left: 0;
    }


}

@media (min-width: 1440px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav {
        display: block;
    }

    H1 {
        font-size: 64px;
    }

    .burger {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-left: 64px;
        padding-right: 64px;
    }

    .logo-and-name {
        display: flex;
        font-size: 34px;
        font-weight: 400;
        padding-left: 32px;
        padding-right: 32px;
        gap: 10px;
    }

    .form-header-text {
        font-size: 16px;
    }

    .left-side {
        padding-left: 64px;
        padding-right: 64px;
    }

    .right-side {
        display: block;
        padding-bottom: 64px;
    }

    .achievement-indicators {
        font-size: 50px;
    }

    .achievement-indicators {
        grid-template-columns: repeat(4, 1fr);
    }

    .section-header {
        font-size: 64px;
        font-weight: 700;
    }

    .photos-section {
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 128px;
    }

    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "first first third fourth"
            "first first third fourth"
            "first first third fourth"
            "second second third fourth"
            "second second fifth fifth"
            "second second fifth fifth";
        gap: 20px;
    }

    .item-3,
    .item-4 {
        height: 100%;
    }

    .apps-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apps-logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        flex-wrap: wrap;
        gap: 128px;
    }

    .apps-section-header {
        font-size: 62px;
    }

    .apps-logos div:first-child {
        width: auto;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .FAQ-section {
        padding-left: 177px;
        padding-right: 177px;
        padding-bottom: 128px;
    }

    .contacts-section {
        max-width: 40%;
    }

    .footer-wrapper {
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .copyright {
        width: 95%;
        padding-bottom: 64px;
    }

}